*{
    margin: 0;
    padding: 0;
    

}

body{
      font-family: "Commissioner", sans-serif;

}

:root{

    /* sidenavarbar styling */
    --side-navbar-bg-color: #000047;
    --primary-text-color: #ffff;
    --secondary-text-color: rgb(93, 94, 94);

    /* sidebar option hover styling */
    --sidebar-option-container-hover: #2E2EFF;

    /* transactions color  */
    --credit-in-bg-color: #00D100;
    --credit-out-bg-color: #FF5C5C;
    --credit-balance-bg-color: #2E2EFF;

    --credit-in-icon-color:#E6FFE6;
    --credit-out-icon-color: #FFE6E6;
    --credit-balance-icon-color: #E6E6FF;



}