body{
  background: #bec98e;

  
}

h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #d82222;
}
.formmain{
  background-color: rgb(139, 230, 116);
  width: 50%;
  height: auto;
  margin: auto;
  overflow: hidden;
  border: 2px solid green;
  border-radius: 1pc;
  box-shadow: 1px 5px 10px 9px gray;

}
/* Grouped input styling (works for all text-like inputs) */
.formfield input[type='radio'],
.formfield input[type='checkbox']
{
  width: 80%;
  height: 30px;
  border: 2px solid green;
  border-radius: 6px;
  padding: 5px;
}

/* Radio buttons */
.formfield input[type='radio'],
.formfield input[type='checkbox']  {
  width: auto;
  margin-right: 5px;
}

/* If you want radio buttons and labels in a row */
.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 90px;
}

.formfield{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.formfield label{
 margin-bottom: 2px;
 
  
}
.formfield input{
  width: 80%;
  height: 30px;
  border: 2px solid green;
  border-radius: 6px; 
}

