// .app.dark {
//   background-color: black;
//   color: rgb(146, 144, 144);

//   .navbar{
//     background-color: black;
//     color: rgb(146, 144, 144);
   
//   }
//   .sidebar{
//     background-color: black;
//     color:rgb(146, 144, 144);
//     .logo{
//         color: rgb(146, 144, 144);
//     }
//    li{
    

//     &:hover{
//         background-color: rgba(114, 112, 112, 0.336);
//     }
//     svg{
//         font-size: 17px;
//         margin-right: 5px;
//         color: rgb(79, 79, 80);
//     }
//     span{
//         font-size: 12px;
//         font-weight: 600;
//         color: rgb(146, 144, 144);
//         margin-left: 10px;
//     }   


//   }
//   }
//   .chart {
//     .chartGrid {
//       stroke: rgb(46, 45, 45);
//     }
//   }

//   .table {
//     background-color: black;
//     color: rgb(146, 144, 144);
//     .tableCell {
//       background-color: black;
//       color: rgb(146, 144, 144);
//     }
//   }

//   .datatable{
   
//     .datatableTitle{
//         background-color: black;
//         color: rgb(146, 144, 144);
//     }
//     .datagrid{
//     background-color: black;
//     color: rgb(146, 144, 144);

    
//   }

//   }
  
// }

.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      background-color: #111;
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
        background-color: #111;
        
      }
    }
  }

  input{
      background-color: transparent;
  }
}